/* Variables */

$primary: #5ab3b5;  // teal
$secondary: #2c3e50;  // dark blue
$white: #fff; // white

$font-family-sans-serif: 'Lato', "Helvetica Neue", Arial, sans-serif !default;
$headings-font-family: 'Montserrat', "Helvetica Neue", Arial, sans-serif !default;
$headings-font-weight: 700 !default;


// Override Bootstrap border variables
$border-width: 0.125rem !default;
$border-radius: 0.5rem !default;
$border-radius-lg: 0.75rem !default;
$border-radius-sm: 0.25rem !default;

// Override Bootstrap input/button variables
$input-btn-border-width: $border-width !default;

// Override Bootstrap modal variables
$modal-inner-padding: 4rem 1rem !default;
$modal-content-border-width: 0 !default;